html,
body {
  margin: 0;
  font-family: "Inter";
}

header {
  background-color: #f55a5a;
  padding: 10px;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > img {
  width: 40px;
  padding-right: 10px;
}
